*{
    margin: 0;
    padding: 0;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
#main{
    width: 100%;
    min-height: 100vh;
}
.top{
    width: 100%;
    min-height: 60vh;
    background-image: url("https://media.istockphoto.com/id/1297349747/photo/hot-air-balloons-flying-over-the-botan-canyon-in-turkey.jpg?s=1024x1024&w=is&k=20&c=U-1aMueiJ5vYIMY-2JTwaSLOXTnoSkAzCVLk1hE6wfE=");
    background-position: center;
    background-size: cover;
}
.top .overlay{
    position: relative;
    width: 100%;
    min-height: inherit;
    background-color: rgba(0, 0, 0, 0.281);
}
.text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    padding: 0 10vh;
    color: white;
    bottom: 5%;
}
.text h1{
    font-weight: 600;
    font-size: 4vh;
}
.text .image{
    background-image: url("https://media.istockphoto.com/id/1398447018/photo/sunset-at-the-beach-with-palm-trees-in-sri-lanka.jpg?s=2048x2048&w=is&k=20&c=Gjds1fGlRLOkCZiD6AV4SB2VY_N-H16qjfNjzmD6X5s=");
    background-size: cover;
    background-position: center;
    width: 400px;
    height: 300px;
}
.rtext{
    display: flex;
    width: 25%;
    align-items: center;
    justify-content: space-between;
}
.rtext p{
    font-size: 12px;
}
.bottom{
    display: flex;
    width: 100%;
    min-height: 40vh;
}
.b1{
    width: 30%;
    min-height: inherit;
    background-image: url("https://media.istockphoto.com/id/136917788/photo/xl-migrating-canada-geese.jpg?s=2048x2048&w=is&k=20&c=U-EzbZy944s_oF8Iz_WaCSLYul3vid4jv6sHiJHuabg=");
    background-size: cover;
    background-position: center;
}
.b1 h1{
    text-align: center;
    padding: 30px;
}
.b1 p{
    color: aliceblue;
    text-align: center;
    padding: 16PX;
}
.b2{
    width: 30%;
    min-height: inherit;
    display: flex;
    flex-direction: column;
}
.b2 .up{
    width: 100%;
    min-height: 20vh;
    background-image: url("https://media.istockphoto.com/id/1405918095/photo/oxalis-triangularis-flower.jpg?s=2048x2048&w=is&k=20&c=I5glZWAMsOhuRkqlvH2hnbBh6g7rXWW5QGiyfp2ajys=");
    background-size: cover;
    background-position: center;
}
.b2 .up h1{
    color: white;
    text-align: center;
    padding: 30px;
}
.b2 .up p{
    color: aliceblue;
    text-align: center;
    padding: 16PX;    
}
.b2 .down{
    width: 100%;
    min-height: 20vh;
    background-image: url("https://images.unsplash.com/photo-1472396961693-142e6e269027?q=80&w=1904&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center;
}
.b2 .down .overlay{
    position: relative;
    width: 100%;
    min-height: 20vh;
    background-color: rgba(240, 248, 255, 0.349);
}
.b3{
    width: 40%;
    min-height: inherit;
    background-image: url("https://plus.unsplash.com/premium_photo-1683910767532-3a25b821f7ae?q=80&w=2008&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center;
}
.b3 .overlay{
    justify-content: right;
    position: relative;
    margin-left: 50%;
    width: 50%;
    height: 100%;
    padding: 4vw 5vh;
}
.b3 .overlay p{
    padding: 1.2vh; 
    color: white;
    text-align: center;
    font-size: 20px;
}
@media(max-width:500px){
    .rtext{
        flex-direction: column;
    }
    .b3 .overlay{
        width: 100%;
        margin: initial;
    }
}
@media(max-width:500px){
    .text{
        flex-direction: column;
        align-items: flex-start;
    }
    .text h1{
        font-size: 5vh;
    }
    .text .image{
        height :200px;
        width: 140px;
        margin-top: 20px;
    }
    .rtext{
        flex-direction: column;
        align-items: flex-start;
    }
    .rtext p{
        margin-top: 20px;
    }
    .icons{
        margin-top: 10px;
        size: 20px;
    
    }
    .bottom{
        flex-direction: column;
        align-items: flex-start;
    }
    .b1{
        width: 100%;
        min-height: 30vh;
    }
    .b2{
        width: 100%;
    }
    .b2 .up{
        min-height: 30vh;
    }
    .b3{
        width: 100%;
        min-height: 30vh;
        background-position: left;
    }
}