* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI';
}


nav {
    display: flex;
    justify-content: space-around;
    gap: 80px;
    align-items: center;
    margin-top: 13px;
    font-size: 16px;
    font-family: 'Segoe UI';
}

.right ul {
    display: flex;
    list-style: none;
    gap: 35px;
    align-items: center;
    padding-right: 20px;
}

.right ul li span {
    padding: 0px 8px;

}

.right ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.head {
    display: flex;
    font-size: 50px;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI';
    padding: 50px;
}

.para {
    display: flex;
    font-size: 25px;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI';
    line-height: 1.3em;
    text-align: center;

}
main .mainbtn{

    text-decoration: none;
    color: white;
}
.mainbtn {
    text-transform: uppercase;
    background-color: #00b6d1;
    border-radius: 5px;
    padding: 15px 20px;
    color: white;
    min-width: 256px;
    text-align: center;
    font-size: 14px;
    border-width: 0px;
    text-decoration: none;
    margin-left: 550px;
    font-weight: 700;
    margin-top: 40px;
    font-style: normal;
    text-decoration: none;
    color: white;
}

.sec2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 24px;
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    padding-left: 80px !important;
    max-width: 800px;
    margin-left: 50px;
}

.items1 {

    background-color: #f9f9f9;
    border-radius: 5px;
    padding: 16px;
}

.sec3 {
    display: flex;
    align-items: center;
    flex-direction: column;

}

.itembtn {
    display: flex;
    background-color: #5cb85c;
    color: white;
    font-weight: 600;
    border-radius: 6px;
    padding: 8px 16px;

}

.itembtn a {
    text-decoration: none;
    color: white;
}

.lan {
    padding-bottom: 36px;
    font-weight: 700;
    text-align: center;
    background-color: #f9f9f9;

}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
    justify-content: start;
}

@media screen and (max-width:1145px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr;
    }

}